@model List<TheBookCave.Models.ViewModels.BookListViewModel>
@{
    ViewData["Title"] = "Home Page";
}

@foreach(var book in @Model)
{ 		
		
		
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
			<h3>
				@book.Title
			</h3><img alt="BookCover" src="@book.Image" class="img-thumbnail" />
			<div class="jumbotron">
				<h3>
					Product information:
				</h3>
				
					Author: @book.Author
                    Genre: @book.Genre
                    Price: @book.Price kr
			
				<p>
					<a class="btn btn-primary btn-large" href="#">Learn more</a>
				</p>
			</div> <span class="badge badge-info">Description</span>
			<p class="text-left">
				@book.Description
			</p> 
			<button type="button" class="btn btn-md btn-outline-primary">
				Add to cart
			</button>
		</div>
		<div class="col-md-4">
		</div>
	</div>
</div>
}