<form id="genre" asp-controller="Book" asp-action="ListBooksByGenre" method="POST">
	<input type="submit" name="genre" value="Fantasy"/>
	<input type="submit" name="genre" value="Food & Fun"/>
	<input type="submit" name="genre" value="Crime"/>
	<input type="submit" name="genre" value="Health"/>
	<input type="submit" name="genre" value="Personal development"/>
	<input type="submit" name="genre" value="Children"/>
	<input type="submit" name="genre" value="Star Wars"/>
	<input type="submit" name="genre" value="Science & Geography"/>
</form>
   
    @foreach(var book in @Model)
    { 		
			<br>
			<div class="grid-item">
					<h2>@book.Title</h2>
					<img class="book-cover" src="@book.Image" alt="Not found">
					<p>@book.Author</p>
					<p>@book.Price Kr</p>
					<p>@book.Description</p>
					<a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		
	}