@model List<TheBookCave.Models.ViewModels.BookListViewModel>

@{
    ViewData["Title"] = "List of all our books!";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

	<div class ="grid-container">
    @foreach(var book in @Model)
    { 		
			<br>
			<div class="grid-item">
					<h2>@book.Title</h2>
					<img class="book-cover" src="@book.Image" alt="Not found">
					<p>@book.Author</p>
					<p>@book.Price Kr</p>
					<a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		
	}
	</div>
	



