@model List<TheBookCave.Models.ViewModels.BookListViewModel>
<link rel="stylesheet" href="~/css/bookcatalogue.css"/>
@{
    ViewData["Title"] = "Book Catalogue";
}

<section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">@ViewData["Title"]</h1>
          <p class="lead text-muted">List of all our books</p>
        </div>
</section>
<div class="container-fluid">
    <div class="book-sorter">
        <form asp-controller="Book" asp-action="SortBooks" method="POST">
            <input class="btn-default" type="submit"  name="sort" value="A to Z"/>
            <input class="btn-default"type="submit"  name="sort" value="Z to A"/>
            <input class="btn-default" type="submit"  name="sort" value="Lowest to highest price"/>
            <input class="btn-default" type="submit"  name="sort" value="Highest to lowest price"/>
        </form>
    </div>
    <div class="genre-nav">
        <form asp-controller="Book" asp-action="ListOfBooks" method="POST">
            <a asp-controller="Book" asp-action="ListOfBooks"><label for "submit">All Books</label></a>
            <input type="submit"  name="genre" value="Fantasy"/>
            <input type="submit"  name="genre" value="Food & Fun"/>
            <input type="submit"  name="genre" value="Crime"/>
            <input type="submit"  name="genre" value="Health"/>
            <input type="submit"  name="genre" value="Personal development"/>
            <input type="submit"  name="genre" value="Children"/>
            <input type="submit"  name="genre" value="Star Wars"/>
            <input type="submit"  name="genre" value="Science & Geography"/>	
        </form>
    </div>
    <div class="row">
        @foreach(var book in @Model)
        { 		
			<div class="album py-5 bg-light" align-items-center>
				<div class="col-md-4">
					<a asp-controller="Book" asp-action="BookDetails" asp-route-isbn="@book.ISBN"><img class="card-img-top" src="@book.Image" alt="Not Found"></a>
					<h2 class="title">@book.Title</h2>
					<p class= "card-text">@book.Description</p>
					<h5 class="card-author">Author: @book.Author</h5>
					<h5 class="card-rating">Rating: @book.Rating</h5>
					<h5 class="card-price">Price: @book.Price</h5>
					<p class ="isbn">@book.ISBN</p>
					<div class="btn-group">
						<a asp-controller="Book" asp-action="BookDetails" asp-route-isbn="@book.ISBN"><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
						<button type="button" class="btn btn-sm btn-outline-secondary">Add to cart</button>
					</div>
				</div>
			</div>
        }
    </div>
</div>
</div>