@model List<TheBookCave.Models.ViewModels.BookListViewModel>

@{
    ViewData["Title"] = "Top Ten Books" ;
}

    @foreach(var book in @Model)
    { 		
		<h2>@book.Title</h2>
		<img class="book-cover" src="@book.Image" alt="Not found">
        <p>@book.Rating</p>
		<p>@book.Author</p>
		<p>@book.Price Kr</p>
		<a href="#" class="btn btn-primary">Go somewhere</a>	
		
	}
	